/* Add CSS to make it pretty */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

/*** Todo ***/

.todo {
  color: #444;
  font-size: 18px;
}

.todo-input {
  border: 1px solid #CCC;
  border-right: none;
  height: 34px;
  padding: 0 10px;
  font-size: 18px;
  color: inherit;

  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.todo-input:focus {
  outline: none;
}

.todo-add {
  background: #2476F5;
  border: none;
  color: #FFF;
  font-size: 14px;
  padding: 0 10px;
  cursor: pointer;
  height: 36px;
  vertical-align: top;

  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.todo-add:focus {
  outline: none;
}

.todo-list {
  list-style: none;
  padding: 0;
  width: 255px;
}

/*** Items ***/

.item {
  padding: 2px 0;
}

.item-check {
  vertical-align: top;
  margin: 5px;
}

.item-input {
  border: none;
  color: inherit;
  font-size: inherit;
  width: 205px;
}

.item-input:focus {
  outline: none;
  border-bottom: 1px solid #CCC;
}

.item-remove {
  opacity: 0;
  background: none;
  border: none;
  color: #666;
  vertical-align: top;
  padding: 3px;
  font-size: 16px;
}

.item-remove:hover {
  cursor: pointer;
}

.item-remove:focus {
  outline: none;
}

.item:hover .item-remove {
  opacity: 1;
}
